<span class="input-data">

  <span class="lat-lng-span">Put your latitude here<input type="number" #lat ></span>
  <span class="lat-lng-span">Put your longitude here<input type="number" #lng></span>
  <!-- <a routerLink="/meteo/{{lat.value}}@{{lng.value}}" class="coord-button">GO!</a> -->
  <button class="coord-button" (click)="displayCord(lat.value , lng.value)">GO</button>
  <div *ngFor="let forecast of forecastData" class="data-container">
    <span>{{forecast.time}}</span>
    <span>Precipitation: {{forecast.precipitation}}</span>
    <span>Wind speed 10 m:{{forecast.windspeed_10m}}</span>
    <span>Wind direction 10 m:{{forecast.winddirection_10m}}</span>
    <span>Wind speed 80 m: {{forecast.windspeed_80m}}</span>
    <span>Wind direction 80 m:{{forecast.winddirection_80m}}</span>
    <span>Wind speed 120 m: {{forecast.windspeed_120m}}</span>
    <span>Wind direction 120 m:{{forecast.winddirection_120m}}</span>
    <span>Wind speed 180 m: {{forecast.windspeed_180m}}</span>
    <span>Wind direction 180 m:{{forecast.winddirection_180m}}</span>
  </div>
</span>

