@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@500&display=swap');

.header-container{
    width: 100%;
    height: 8rem;
    background-color: #ffe961;
    background-image: url(../../../assets/heade-pattern.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 6rem;
    text-shadow: 2px 0 rgb(0, 0, 0), -2px 0 rgb(3, 3, 3), 0 2px rgb(0, 0, 0), 0 -2px rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
    border-bottom: solid black 1px;
    
}

.title{
    text-align: center;
    color: white;
    max-width: auto ;
    

}

@media screen and (max-width: 600px) {
    .header-container{
        font-size: xx-large;
    }

    .title{
        padding-top: 2.5rem;
    }
}

